html
  meta(charset='utf-8')
  head
    title=title
  body
    table(border="1")
      each item in list
        tr
          td 【#{item.type}】
          case item.type
            when 'file'
              td #{item.name}
              td
                a(href=item.url) 下载
              td
                a(href=item.url + '?operate=delete') 删除
            when 'dir'
              td
                a(href=item.url) #{item.name}
              td
              td
    br
    form(action="/upload" enctype="multipart/form-data" method="post")
      input(type="text" name="path" readonly value=title)
      input(type="file" name="upload" multiple="multiple")
      input(type="submit" value="Upload")
